
body {
    margin: 0px;
    background-color: rgba(227, 227, 227, 1);
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: rgba(120, 6, 145, 1);
    clear: left;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: normal;
}

.title {
    font-weight: bold;
    font-size: 24px;
    font-family: "Helvetica Neue";
}

.content {
    background-color: white;
    border: 30px solid	;
    border-color: rgba(227, 227, 227, 1);
    font-family: "Helvetica Neue";
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 25%;
    padding-left: 10%;
    /* position: relative;
    bottom: 5%; */
}

h1 {
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 35px;
    color: black;
    background-color: #white;
    text-align: justify;
    font-family: "Helvetica Neue";
    font-size: 15px;
    font-weight: normal;
}

.text {
    text-align: justify;
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
}

.subText {
    font-size: 12px;
    width: 80%;
    margin-left: 10%;
}

.input {
    font-size: 14px;
    border-radius: 10px;
    padding: 12px 10px;
    margin-top: 50px;
    border: 1px solid #111;
    width: 22%;
}

.button {
    background-color: rgba(120, 6, 145, 1);
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}
